//- Add Missing Information
.navbar
  .navbar-inner
    .left.sliding
      a(href='home/person-10.html' class='link')
        i.icon.icon-back
        span Cancel
    .center.sliding Complete Your Profile
    .right

.pages
  div(data-page='add-missing-info' class='page')
    .page-content
      .content-block-title Social Media
      .list-block
        ul
          li
            .item-content
              .item-media.item-media-0F8S7
                img(
                  src='../../img/key-path-scenario/linkedin-icon-2.svg'
                  alt='linkedin icon' )
              .item-inner
                .item-input
                  input(type='text' placeholder='LinkedIn')
          li
            .item-content
              .item-media.item-media-0F8S7
                img(
                  src='../../img/key-path-scenario/github-icon-2.svg'
                  alt='github icon' )
              .item-inner
                .item-input
                  input(type='text' placeholder='Github')
          li
            .item-content
              .item-media.item-media-0F8S7
                img(
                  src='../../img/key-path-scenario/twitter-icon-2.svg'
                  alt='twitter icon' )
              .item-inner
                .item-input
                  input(type='text' placeholder='Twitter')
          li
            .item-content
              .item-media.item-media-0F8S7
                img(
                  src='../../img/key-path-scenario/facebook-icon-2.svg'
                  alt='facebook icon' )
              .item-inner
                .item-input
                  input(type='text' placeholder='Facebook')
      .content-block
        a(href='index.html' class='button button-big btn-add-missing-info') Submit Your Information
