doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    title Group 10 - Project

    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='../../libs/framework7/dist/css/framework7.ios.min.css')
    link(rel='stylesheet' href='../../libs/framework7/dist/css/framework7.ios.colors.min.css')
    link(rel='stylesheet' href='styles/main.css')

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .center.sliding Search

        .pages.navbar-through.toolbar-through
          div(data-page='home' class='page')
            form(
              class='searchbar searchbar-init'
              data-search-list='.list-block-search'
              data-search-in='.item-title'
              data-found='.searchbar-found'
              data-not-found='.searchbar-not-found'
              )
              .searchbar-input
                input(type='search' placeholder='Search for a professor or classmate...')
                a(href='#' class='searchbar-clear')
              a(href='#' class='searchbar-cancel') Cancel
            .searchbar-overlay
            .page-content
              .content-block-title.content-block-title-DPNI4.
                Searching in #[span.chip-DPNI4 NJIT] #[span.chip-DPNI4 Rutgers]
              .content-block.searchbar-not-found Nothing Found
              .list-block.media-list.list-block-search.searchbar-found.list-block-DPNI4.inset
                ul
                  li
                    a(href='home/person-1.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-student Randall	Rivera
                          .item-after.item-after-DPNI4  4.5
                        .item-subtitle.item-subtitle-DPNI4 Student at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 201] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_half
                  li
                    a(href='home/person-2.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-professor Renee Porter
                          .item-after.item-after-DPNI4 3
                        .item-subtitle.item-subtitle-DPNI4 Professor at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 110] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_border
                              i.material-icons star_border
                  li
                    a(href='home/person-3.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-student Lionel Ford
                          .item-after.item-after-DPNI4 2.5
                        .item-subtitle.item-subtitle-DPNI4 Student at Rutgers
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 30] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_half
                              i.material-icons star_border
                              i.material-icons star_border
                  li
                    a(href='home/person-4.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-professor Jonathon Sims
                          .item-after.item-after-DPNI4 5
                        .item-subtitle.item-subtitle-DPNI4 Professor at Rutgers
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 63] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                  li
                    a(href='home/person-5.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-student Joyce	Salazar
                          .item-after.item-after-DPNI4 2
                        .item-subtitle.item-subtitle-DPNI4 Student at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 83] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_border
                              i.material-icons star_border
                              i.material-icons star_border
                  li
                    a(href='home/person-6.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-professor Maggie Wood
                          .item-after.item-after-DPNI4 3.5
                        .item-subtitle.item-subtitle-DPNI4 Professor at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 78] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_half
                              i.material-icons star_border
                  li
                    a(href='home/person-7.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-professor Regina Floyd
                          .item-after.item-after-DPNI4 4
                        .item-subtitle.item-subtitle-DPNI4 Professor at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 43] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_border
                  li
                    a(href='home/person-8.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-professor Kelvin Mcdaniel
                          .item-after.item-after-DPNI4 5
                        .item-subtitle.item-subtitle-DPNI4 Professor at Rutgers
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 129] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                  li
                    a(href='home/person-9.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-student Nathan Williamson
                          .item-after.item-after-DPNI4 4
                        .item-subtitle.item-subtitle-DPNI4 Student at Rutgers
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 16] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star_border
                  li
                    a(href='home/person-10.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title.item-title-DPNI4-student Jake Simpson
                          .item-after.item-after-DPNI4 5
                        .item-subtitle.item-subtitle-DPNI4 Student at NJIT
                        .item-text.item-text-DPNI4
                          .item-text-DPNI4-inner
                            .itcs-left #[strong 86] ratings
                            .itcs-right
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
                              i.material-icons star
        .toolbar.tabbar.tabbar-labels
          .toolbar-inner
            a(href='index.html' class='link active')
              i.material-icons search
              span.tabbar-label Search
            a(href='bookmarks/index.html' class='link')
              i.material-icons bookmark
              span.tabbar-label Bookmarks
            a(href='settings/index.html' class='link')
              i.material-icons settings
              span.tabbar-label Settings

    script(src='../../libs/framework7/dist/js/framework7.min.js')
    script(src='js/main.min.js')
